body {
  height: 100%;
  background-color: #f4f4ef;
}

.App {
  text-align: center;
  background-color: #f4f4ef;
}

.App-header {
  position: relative;
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

li {
  list-style: none;
  display: inline;
  text-align: center;
  margin: 7px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

li:hover {
  color: #ADD8E6;
}

.topDiv {
  height: 50px;
}

.table {
  margin: 0 auto;
}

.MenuBar {
  display: inline;
  bottom: 0;
  padding: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.Post {
  background-color: #f4f4ef;
  padding: 0% 30%;
}

/*div.Post > label {
  background-color: #f4f4ef;
  font-size: 18px;
  text-align: left;
  float: left;
}


div.Post > p {
  background-color: #f4f4ef;
  float: left;
  margin-top: 16px;
  margin-left: 8px;
}*/