body {
  height: 100%;
  background-color: #f4f4ef;
}

.App {
  text-align: center;
  background-color: #f4f4ef;
}

.App-header {
  position: relative;
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

li {
  list-style: none;
  display: inline;
  text-align: center;
  margin: 7px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

li:hover {
  color: #ADD8E6;
}

.topDiv {
  height: 50px;
}

.table {
  margin: 0 auto;
}

.MenuBar {
  display: inline;
  bottom: 0;
  padding: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.Post {
  text-align: left;
  width: 500px;
  display: inline-block;
  background-color: #f4f4ef;
  padding: 0% 30%;
}

div.Author {
  float: right;
  color: #999;
  cursor: pointer;
  max-width: 100px;
  text-overflow: hidden;
}

div.Title, div.PostBody {
  cursor: pointer;
  margin-left: 50px;
}

div.Category {
  float: right;
  cursor: pointer;
  max-width: 100px;
  text-overflow: hidden;
}

div.VoteScore {
  float: left;
  cursor: pointer;
  width: 50px;
  text-align: center;
  max-width: 100px;
  text-overflow: hidden;
}

div.Score {
  margin-top: 6px;
  margin-bottom: 6px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/*div.Post > label {
  background-color: #f4f4ef;
  font-size: 18px;
  text-align: left;
  float: left;
}


div.Post > p {
  background-color: #f4f4ef;
  float: left;
  margin-top: 16px;
  margin-left: 8px;
}*/